<%= render root do |greeter| %>
  <input type="text"
         <%= greeter.as_target(:name) %>
         class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  <button <%= greeter.with_actions([:click, :greet]) %>
          class="ml-4 whitespace-no-wrap bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    <%= @cta %>
  </button>
  <%= greeter.target_tag(:span, :output, class: "ml-4 text-xl text-gray-700") %>
<% end %>
