<div class="prose no-max-width">
  <h1>Comparing components</h1>

  <ul>
    <li><a href="#hw">Simple Hello World examples</a></li>
    <li><a href="#greeter">Stimulus Greeter examples</a></li>
  </ul>

  <div class="space-y-16">
    <h2 id="hw">1) Hello World Examples</h2>

    <section class="space-y-8">
      <h3>1.1) ViewComponent</h3>
      <%= render ::HelloComponent.new(name: "World from ViewComponent") %>

      <h3>1.2) Phlex</h3>
      <%= render ::Views::HelloView.new(name: "World from Phlex") %>

      <h3>1.3) ViewComponent with Vident</h3>
      <%= render ::HelloVidentComponent.new(name: "World from Vident + ViewComponent") %>

      <h3>1.4) Phlex with Vident</h3>
      <%= render ::Views::HelloVidentView.new(name: "World from Vident + Phlex") %>

      <h3>1.5) With Vident we can do stuff like set classes at render site</h3>
      <%= render ::HelloVidentComponent.new(name: "World from Vident + ViewComponent, in Red", html_options: {class: "text-red-600"}) %>

      <h3>1.6) If Stimulus is not used (as in this simple component) we can opt out</h3>
      <%= render ::Views::HelloVidentNoStimulusView.new(name: "World from Vident (no stimulus used) + Phlex") %>
    </section>
  </div>
</div>
